.hero {
  margin: 0 auto;
  max-width: 1600px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/index-images/hero-img.jpg);
  background-color: #c4c4c4;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.modal-btn {
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--additional-txt-color);
  background-color: var(--accent-color);
  padding: 10px 32px;
  border: none;
  cursor: pointer;
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
