:root {
  --primary-logo-color: #000000;
  --primary-txt-color: #212121;
  --secondary-txt-color: #757575;
  --additional-txt-color: #ffffff;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --additional-bg-color: #2f303a;
  --accent-color: #2196f3;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --header-line-color: #ececec;
  --border-line-color: #eeeeee;
  --icon-color: #afb1b8;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
